.add-cmp{
    .add-preview{
        display: flex;
        margin-bottom: 10px;
    }
    .user-pic{
        border-radius: 50%;
        margin-right: 10px;
        height: 2.5rem;
    }
    .add-form{
        width: 100%;
        textarea{
            width: 100%;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 0.5px solid #ccc;
            border-radius: 8px;
            background-color: #ffffff;
            font-size: 16px;
            resize: none;
            font-family: sans-serif;
        }
        .add-comment-btn{
            background: #45d277;
            border: none;
            color: white;
            font-size: 14px;
            padding: 10px 20px;
            border-radius: 12px;
            font-weight: bold;
            margin-top: 10px; 
        }
    }
}

