<section class="comment-container">
    <div class="comment-preview">
        <img class="user-pic" src="../../assets/{{comment.ownerId}}.jpg">
        <div>
            <div class="user">
                <h1 class="user-name">{{(user$| async).displayName}}</h1>
                <h2 class="message">{{comment.txt}}</h2>
            </div>
            <ng-container *ngIf="comment.ownerId == (currUser$ | async).id">
                <button class="delete-btn"(click)="onDelete(comment)">delete</button>
            </ng-container>
        </div>
    </div>
    <replies-list [replies]="comment.replies"></replies-list>
</section>
